{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/offlineStore.css" %}">
<link rel="stylesheet" href="{% static "css/onlineMessage.css" %}" />
{% endblock %}

{% block content %}

<div>
        <div class="title">
            <div class="header">
                <a>欢迎使用售后服务</a>
            </div>
            <div class="title2">
                <a>首页/在线留言</a>
            </div>
        </div>
        <div>
            <img src="{% static "image/FeedBack/1.png" %}" class="feedBack" />
        </div>
    </div>

    <form method="post" action="{% url 'onlinemessages:create' %}">
        {% csrf_token %}
        <div class="formStyle">
            <div class="text formheader">请填写以下信息，我们将安排专业的客服与您联系</div>
            <div class="formLine">
                <div class="text formtd">
                    <div class="star">*</div>
                    <div class="starInfo">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名&nbsp:</div>
                </div>
                <input id="Text1" name="user" type="text" class="formTxtBox" placeholder="请输入您的姓名"/>
            </div>
            <div class="formLine">
                <div class="text formtd">
                    <div class="star">*</div>
                    <div class="starInfo">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话&nbsp:</div>
                </div>
                <input id="Text1" type="text" name="phone" class="formTxtBox" placeholder="请输入您的真实电话" />
            </div>
            <div class="formLine">
                <div class="text formtd">
                    <div class="starInfo">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址&nbsp:</div>
                </div>
                <input id="Text1" name="address" type="text" class="formTxtBox" placeholder="请输入您的地址" />
            </div>
            <div class="formLine">
                <div class="text formtd special">
                    <div class="star">*</div>
                    <div class="starInfo">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp留&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp言&nbsp:</div>
                </div>
                <textarea class="formTxtBox" name="message" placeholder="您有什么想告诉我们的" rows="5"></textarea>
            </div>
            <div>
                <input id="confirm" type="submit" value="确定" />
            </div>
        </div>
    </form>
    <div style="margin-top:3%" />

{% endblock %}
