html,body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.feedBack{
    width:100%;
    height:100%;
    display: block;
    margin:0;
    padding:0;
}

.afterMarket {
    display:inline;
    margin-left:5%;
    margin-right:5%;
}

.inline{
    padding-left:25%;
    padding-right:25%;
    padding-top:1%
}

.clear{
    clear:both;
}

.line{
    height:3px;
    border-top-color:gray;
    margin-left:13%;
    margin-right:15%;
}

.feedBackTableDetails{
    margin-left:13%;
    margin-top:5%;
    display:block;
}

.feedBackTableButton{
    margin-left:13%;
    margin-top: 3%;
    height: 40px;
    display:block;
}

.afterMarketInfos{
    margin-left:13%;
    margin-top:2%;
    color:dimgrey;
    margin-right:13%
}

.header{
    font-size:xx-large;
    font-weight:bolder;
}

.title{
    position:absolute;
    width:100%;
    padding-left:30%;
    padding-top:10%;
    color:dimgray
}

.title2{
    font-size:larger
}

.margin_detail{
    margin-top:1%
}

.margin_header{
    margin-top:3%;
    font-weight:bold;
}

.attach{
    margin-top:3%
}

table{
    border:0;
    width:100%;
}

.firstLine{
    background-color:dimgray;
    color:white;
    font-weight:bold;
    font-size:large
}

td{
    width:18.5%;
    text-align:center;
}

.secondLine{
    background-color:lightgray
}

.special{
    font-weight:bold
}

.secondTable{
    margin-top:5%
}
