html
{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    overflow-y: hidden;
}

.userName {
    margin-left:58.5vw;
    margin-top:35vh;
}

#userName,#passWord, #confirm{
    width: 42%;
    height:10%;
    padding:1%
}

.passWord,.login{
    margin-left:58.5vw;
    margin-top:5vh;
}

.register{
    margin-left:58.5vw;
    margin-top:10vh;
}

#loginBtn, #register {
    background-color:cornflowerblue;
    border:hidden;
    width: 45%;
    padding:1%
}

#loginTransfer{
    margin-left:58.5vw;
    margin-top:6vh;
    color:cornflowerblue;
}