#threePngs{
    width: 100%;
    height: 100%;
    display:block
}

.carousel-control-prev-icon {
    height: 10%;
}

.carousel-control-next-icon{
    height: 10%;
}

.carousel-indicators li{
    background-color: #999;
}

.carousel-indicators active{
    background-color: #444;
}

#img-container{
    position: relative;
    display:inline-block;
    text-align:center;
}

#video {
    position: absolute;
    left: 18vw;
    bottom: 30vh;
}

#product-detail {
    position: absolute;
    left: 18vw;
    bottom: 20vh;
}

.imgstyle {
    display: block;
    width: 100%;
    margin:0;
    padding:0;
}

.ulstyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.listyle {
    width: 32%;
    float: left;
    list-style-type: none;
}

.new2 {
    margin-left:2%;
    margin-right:2%
}

.clear{
    clear:both
}

.news{
    position:relative;
    display:inline-block;
    color:white;
}

.newsText{
    bottom:3vh;
    position:absolute;
    left:1vw;
}

.hrClass{
    height:3px;
    width:3vw;
    border-top-color:white;
    margin-left:0;
    margin-top:1vh;
    margin-bottom:0;
}