{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/offlineStore.css" %}">
<link rel="stylesheet" href="{% static "css/contactUs.css" %}">
{% endblock %}

{% block content %}

<div>
    <img src="{% static "image/ContactUs/contact.jpg" %}" />
</div>

<div class="details">
        <div>
            <div>
                <a class="header">总部</a>
            </div>
            <div class="margin_top">
                <a class="title">总部地址：</a>
                <a>&emsp;中国.厦门火炬高新区（翔安）产业区建业楼A座4层</a>
            </div>
            <div class="info2">
                <div>
                    <a class="header">运营中心</a>
                </div>
                <table>
                    <tr>
                        <td>
                            <a class="title">运营中心：</a>
                            <a>&emsp;中国.厦门思明软件园二期望海路65号之二 306</a>
                        </td>
                        <td style="width:50%">
                            <a class="title margin_left">体感赛车模拟器交流群:&emsp;</a>
                            <u class="special">49354940</u>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="title">电话：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;</a>
                            <a>0592-7162896</a>
                        </td>
                        <td>
                            <a class="title margin_left">公司网址&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <u href="http://www.x-motion.cn/" class="special">www.x-motion.cn</u>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="title">客服：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;</a>
                            <a class="special">0592-5022711</a>
                        </td>
                        <td>
                            <a class="title margin_left">联系邮箱：&emsp;</a>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;info@x-motion.cn
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;chenhb@x-motion.cn</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="title">客服QQ：&nbsp;&nbsp;&emsp;</a>
                            <u class="special">878158089</u>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="title">营销QQ：&nbsp;&nbsp;&emsp;</a>
                            <u class="special">800015765</u>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="margin_top">
                <a class="header">微信公众号</a>
            </div>
            <div class="margin_top">
                <div class="weixin">
                    <div>
                        <img src="{% static "image/ContactUs/weiXin_1.png" %}" />
                    </div>
                    <div>
                        <a class="weixinDesc">X-MOTION公众号</a>
                    </div>
                </div>
                <div class="weixin">
                    <div>
                        <img src="{% static "image/ContactUs/weiXin_2.png" %}" />
                    </div>
                    <div>
                        <a class="weixinDesc">幻速竞速平台公众号</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
