{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link href="{% static "css/feedBack.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div>
        <div class="title">
            <div class="header">
                <a>欢迎使用售后服务</a>
            </div>
            <div class="title2">
                <a>首页/售后服务</a>
            </div>
        </div>
        <div>
            <img src="{% static "image/FeedBack/1.png" %}" class="feedBack" />
        </div>
    </div>
    <div class="inline">
                <div class="afterMarket">
                    <a href="{% url 'groups:feedBack_shop' %}">
                        <img id="shop" src="{% static "image/FeedBack/shopIcon.png" %}" />
                    </a>
                </div>
                <div class="afterMarket">
                    <a href="{% url 'groups:feedBack_deliver' %}">
                        <img id="deliverPolicy" src="{% static "image/FeedBack/deliverPolicy.png" %}" />
                    </a>
                </div>
                <div class="afterMarket">
                    <a href="{% url 'groups:feedBack_afterMarketPolicy' %}">
                        <img id="afterMarketPolicy" src="{% static "image/FeedBack/afterMarketPolicy.png" %}" />
                    </a>
                </div>
                <div class="afterMarket">
                    <a href="{% url 'groups:feedBack_feedBackTable' %}">
                        <img id="feedBackTable" src="{% static "image/FeedBack/feedBackTable_click.png" %}"/>
                    </a>
                </div>
    </div>
    <hr class="line" />
    <div class="clear"></div>
    <div id="feedBackTableInfo">
        <div>
            <div class="afterMarketInfos">
                <a>请将表格下载填写完整后，拍照或扫描后，发送至客服邮箱:878158089@qq.com。真诚感谢您的配合。</a>
            </div>
            <div>
                <img src="{% static "image/FeedBack/downloadTable.png" %}" class="feedBackTableButton" />
            </div>
        </div>
    </div>

    <div style="margin-top:3%" />

{% endblock %}
