{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link href="{% static "css/feedBack.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div>
        <div class="title">
            <div class="header">
                <a>欢迎使用售后服务</a>
            </div>
            <div class="title2">
                <a>首页/售后服务</a>
            </div>
        </div>
        <div>
            <img src="{% static "image/FeedBack/1.png" %}" class="feedBack" />
        </div>
    </div>
    <div class="inline">
            <div class="afterMarket">
                <a href="{% url 'groups:feedBack_shop' %}">
                    <img id="shop" src="{% static "image/FeedBack/shopIcon.png" %}" />
                </a>
            </div>
            <div class="afterMarket">
                <a href="{% url 'groups:feedBack_deliver' %}">
                    <img id="deliverPolicy" src="{% static "image/FeedBack/deliverPolicy.png" %}" />
                </a>
            </div>
            <div class="afterMarket">
                <a href="{% url 'groups:feedBack_afterMarketPolicy' %}">
                    <img id="afterMarketPolicy" src="{% static "image/FeedBack/afterMarketPolicy_click.png" %}" />
                </a>
            </div>
            <div class="afterMarket">
                <a href="{% url 'groups:feedBack_feedBackTable' %}">
                    <img id="feedBackTable" src="{% static "image/FeedBack/feedBackTable.png" %}"/>
                </a>
            </div>
    </div>
    <hr class="line" />
    <div class="clear"></div>
    <div id="afterMarketInfo">
        <div class="afterMarketInfos">
            <div class="margin_detail">
                <a>X-MOTION承诺符合以下情况，有产品售出之日(以购买日期为准)起享受一年质保服务，您可与产品客服人员联系办理售后服务事宜。</a>
            </div>
            <div class="margin_detail">
                <a>X-MOTION各地授权服务中心需参照本政策开展工作。</a>
            </div>
            <div class="margin_detail">
                <a>以下情况不予办理质保</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;1. 任何幻速出品及运营商销售渠道出售的商品(序列号不符)；</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;2.对于过保商品(超过一年保修期的商品)；</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;3.未经授权的维修、误用、碰撞、滥用、事故、改动、不正确的安装所造成的商品质量问题</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;4.因您或他人更换使用场地时不适当的搬运所导致的故障，包括但限于运输公式时的暴力拆卸、无保护搬运所导致的外壳磨损变形开裂等；</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;5.因您或他人不适当的安装所导致的故障，包括但不限于安装时未按照顺序所导致的机器模塑遍变形开裂等；</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;6.因不可抗力造成的顺坏。</a>
            </div>
            <div class="margin_header">
                <a>幻速车架产品维修：</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;1年内非人为导致幻速车架产品故障免费维修，超过1年可享受终身维修服务，您只需支付少许费用。</a>
            </div>
            <div class="margin_detail">
                <a>&omicron;您可到访身边的授权服务网点对幻速车架进行维修，也可在线申请售后服务并将产品寄回X-MOTION公司进行维修。</a>
            </div>
            <div class="margin_header">
                <a>更换与退货：</a>
            </div>
            <div class="margin_detail">
                <a>除非X-MOTION公司另有约定，否则产品在购买后不支持更换或退货。</a>
            </div>
            <div class="margin_detail">
                <a>除非X-MOTION另有指示，否则产品更换或退货时，您应将全部产品(包括但不限于全部附件、部件、包装材料、促销品等，下同)一并退还，更换下来的产品、</a>
            </div>
            <div class="margin_detail">
                <a>部件及其它物料均归X-MOTION所有。用于更换的替换件可能不是新的，但将与新品具有同样良好的性能状态，并至少在功能上不低于被替换件,但是，如可适</a>
            </div>
            <div class="margin_detail">
                <a>用的法定保修规定对替换件另有要求，则在法定保修范围内，按法定保修规定执行，替换件承接被替换件的服务状态。</a>
            </div>
            <div class="attach">
                <a>附《产品保修信息》：</a>
            </div>
            <div>
                <table>
                    <tr class="firstLine">
                        <td></td>
                        <td>部分类型</td>
                        <td>部分名称</td>
                        <td>保修期限</td>
                    </tr>
                    <tr class="secondLine">
                        <td>
                        </td>
                        <td>主要组件</td>
                        <td>
                            幻速赛车车架(1台)
                            <br/>
                            方向盘拉链(1个) 驱动盘(2个)
                            <br/>
                            电缸(4根)
                        </td>
                        <td>自购买之日起12个月</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="special">SOULFEELING</a>
                            <br />
                            幻速赛车
                            <br />
                            (四轴)
                        </td>
                        <td>一般配件</td>
                        <td>
                            USB转485(1个)、优盘(1个)、USB延长线(1条)、DC电源
                            <br />
                            延长线(1条)、护地腕(4个)、漏保电源线(1条)、说明书
                        </td>
                        <td>自购买之日起12个月</td>
                    </tr>
                    <tr class="secondLine">
                        <td></td>
                        <td>选择配件</td>
                        <td>
                            FANATEC方向盘、罗技G29方向盘、三屏支
                            <br />
                            架、单屏支架、LG电视、电脑
                        </td>
                        <td>
                            客户代购或自行购买
                            <br/>
                            享受相关厂家质保声明
                        </td>
                    </tr>
                </table>
            </div>
            <div class="secondTable">
                <table>
                    <tr class="firstLine">
                        <td></td>
                        <td>部分类型</td>
                        <td>部分名称</td>
                        <td>保修期限</td>
                    </tr>
                    <tr class="secondLine">
                        <td></td>
                        <td>主要组件</td>
                        <td>
                            幻速赛车车架(1台)
                            <br />
                            方向盘拉链(1个) 驱动盘(2个)
                            <br />
                            电缸(2根)
                        </td>
                        <td>自购买之日起12个月</td>
                    </tr>
                    <tr>
                        <td>
                            <a class="special">SOULFEELING</a>
                            <br />
                            幻速赛车
                            <br />
                            (二轴)
                        </td>
                        <td>一般配件</td>
                        <td>
                            USB转485(1个)、优盘(1个)、USB延长线(1条)、DC电源
                            <br />
                            延长线(1条)、护地腕(3个)、漏保电源线(1条)、说明书
                        </td>
                        <td>自购买之日起12个月</td>
                    </tr>
                    <tr class="secondLine">
                        <td></td>
                        <td>选择配件</td>
                        <td>
                            FANATEC方向盘、罗技G29方向盘、三屏支
                            <br />
                            架、单屏支架、LG电视、电脑
                        </td>
                        <td>
                            客户代购或自行购买
                            <br />
                            享受相关厂家质保声明
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top:3%" />

{% endblock %}
