{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/offlineStore.css" %}">
{% endblock %}

{% block content %}

<div class="div-fullWidth">
        <div class="textStyle">
            <div>
                极速先锋模拟竞速大赛
                <br />
                与F1车手一起同步夺冠
            </div>
            <div class="separate">
                SPEED PIONEER SIMULATED RACING COMPETTION
                <br />
                WIN WITH F1 DRIVER SIMULTANEOUSLY
            </div>
            <div class="more">
                <a href="{% url 'groups:newsInformation' %}">
                    <img src="{% static "image/FieldInfo/more.png" %}" />
                </a>
            </div>
        </div>
        <img id="newsImg" src="{% static "image/FieldInfo/newHeader.png" %}">
    </div>

    <div id="offline-all-news">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active">行业动态</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">公司动态</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">加盟动态</a>
            </li>
        </ul>
    </div>

	<div id="offline-Activity">
        <div class="listActivity">
            <div class="activePicture">
                <img src="{% static "image/offlineStore/store.png" %}"/>
            </div>
            <div class="newsInfo">
                <h4>幻速荣获亚洲VR博览会年度VR技术创新奖</h4>
                <br/>
                <div>
                    近日，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChinaVRjoy,
                    并于5月13日受邀参加ChianVRjoy在武汉举办的中国VR应用开发者大赛。
                </div>
            </div>
            <div class="date">
                <h3>10-20</h3>
                <h5>2016</h5>
            </div>
        </div>
        <div class="clear"></div>
        <div class="listActivity">
            <div class="activePicture">
                <img src="{% static "image/offlineStore/store.png" %}" />
            </div>
            <div class="newsInfo">
                <h4>幻速荣获亚洲VR博览会年度VR技术创新奖</h4>
                <br />
                <div>
                    近日，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChinaVRjoy,
                    并于5月13日受邀参加ChianVRjoy在武汉举办的中国VR应用开发者大赛。
                </div>
            </div>
            <div class="date">
                <h3>10-20</h3>
                <h5>2016</h5>
            </div>
        </div>
        <div class="clear"></div>
        <div class="listActivity">
            <div class="activePicture">
                <img src="{% static "image/offlineStore/store.png" %}" />
            </div>
            <div class="newsInfo">
                <h4>幻速荣获亚洲VR博览会年度VR技术创新奖</h4>
                <br />
                <div>
                    近日，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChinaVRjoy,
                    并于5月13日受邀参加ChianVRjoy在武汉举办的中国VR应用开发者大赛。
                </div>
            </div>
            <div class="date">
                <h3>10-20</h3>
                <h5>2016</h5>
            </div>
        </div>
        <div class="clear"></div>
        <div class="listActivity">
            <div class="activePicture">
                <img src="{% static "image/offlineStore/store.png" %}" />
            </div>
            <div class="newsInfo">
                <h4>幻速荣获亚洲VR博览会年度VR技术创新奖</h4>
                <br />
                <div>
                    近日，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChinaVRjoy,
                    并于5月13日受邀参加ChianVRjoy在武汉举办的中国VR应用开发者大赛。
                </div>
            </div>
            <div class="date">
                <h3>10-20</h3>
                <h5>2016</h5>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="div-fullWidth margin_top" id="pagination-div">
        <nav aria-label="Page navigation example" id="pagination-nav">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">7</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">8</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}
