{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/newsInfo.css" %}">
{% endblock %}

{% block content %}

<div id="offline-nav">
        <h4>新闻中心</h4>a
        <div>
            <a href="#">首页</a>
            <a>/</a>
            <a>新闻中心</a>
        </div>
</div>

    <div class="container" id="offline-allStores">
        <div class="row" id="row-allStores">
            <div class="col-8">
                <h3>幻速荣获亚洲VR博览会年度VR技术创新奖</h3>
                <a>时间：2015-03-04 来源：本站原创 作者：陈树臻</a>
                <hr class="line"/>
                <div class="txtStyle">
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近日，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChianVRjoy,并于5月13日受邀参加ChinaVRjoy在武汉举办的中国VR应用开发者大赛。
                    这是ChinaVRjoy继广州后的第二季VR开发者大会，主题是聚焦VR教育。作为一家以知识和创新为核心的只能科技公司，X-MOTION始终秉持“大智和美”的品牌理念，以科技为先导。
                    </div>
                    <div>
                        <img src="{% static "image/news/news.png"%}" class="newsPicture"/>
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为此次大赛VR创新奖的得主，幻速实至名归！熟悉，VR体感赛车——幻速赛车模拟器是X-motion（厦门欣富地智能科技有限公司）在2016年VR爆发元年，创超幸退出的颠覆性体验产品，
                        采用公司独立自主研发的多维体感赛车模拟器支架，结合目前全球最顶尖的Oculus VR头设的形式，不仅让体验者在视觉上产生全包围视角的赛场沉浸感，坐在赛车坐骑上也能感受到开车
                        过程中不同赛况的身体感觉。基尼，中国体感科技领跑者X-MOTION旗下幻速赛车模拟器正式加入VR创新组织ChinaVRjoy,并于5月13日受邀参加ChianVRjoy在武汉举办的中国VR应用开发者大赛。
                        这是ChinaVRjoy继广州后的第二季开发者大会，主题是聚焦VR教育。在此次大会上，幻速作为VR行业领先品牌，荣获亚洲VR博览会年度VT技术创新奖。幻速将再接再厉继续运用时下最前沿的虚拟现实技术，
                        智力于推动中国VR创新。
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据了解，ChinaVRjoy中文全称“中国虚拟现实嘉年华”，又称“中国黑科技嘉年华”，是基于科技创新而兴起的互动创新组织，
                        由广东省VR产业联盟孵化并指导运营。内容包括VR/AR/MR/3D/全息影像/机器人/无人机等终端硬件和创意内容，柔和最新的科技元素，
                        充满探索，彰显创业精神。自成立以来，链接VR上下游伙伴，创新生态，发展迅速，正在成为中国VR虚拟现实业最具影响力的组织之一。
						<br/>
                        <br/>
                    </div>
                </div>
                <div class="container">
                    <nav aria-label="Page navigation example" id="page-bar">
                        <ul class="pagination justify-content-end" id="page-left">
                            <li class="page-item">
                                <a class="page-link" href="#" tabindex="-1">
                                    上一篇
                                    <span>全智能健身新品，亮相2017体博会</span>
                                </a>
                            </li>
                            <li class="page-item disabled" id="page-right">
                                <a class="page-link" href="#">
                                    下一篇
                                    <span>网鱼，雨乐等网咖联手幻速</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            </div>
            <div class="col-4">
                <div class="row textStyle">
                    <a><h4>|推荐阅读</h4></a>
                </div>
                <div class="row">
                    <img class="list-image" src="{% static "img/1.png" %}">
                    <a href="#">XMOTION全智能健身新品，亮相2017体博会</a>
                    <a>2017-03-04</a>
                </div>
                <div class="row">
                    <img class="list-image" src="{% static "img/2.png" %}">
                    <a href="#">国内首度公开亮相 多种神技能引围观</a>
                </div>
                <div class="row">
                    <img class="list-image" src="{% static "img/2.png" %}">
                    <a href="#">幻速赛车模拟器，驾驶体验真实逼真，悬挂式支架，完美还原真实驾驶体验</a>
                    <a>2017-03-04</a>
                </div>
                <div class="row textStyle weixin">
                    <a><h4>|微信订阅</h4></a>
                </div>
                <div>
                    <div class="weixinIcon">
                        <img src="{% static "img/订阅.png" %}" />
                    </div>
                    <div class="weixinDesc">
                        幻速赛车竞技平台
                        <br/>
                        soulfeeling2016
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
