{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/offlineStore.css" %}">

<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/cityJson.js" %}"></script>
<script src="{% static "js/citySet.js" %}"></script>
<link rel="stylesheet" href="{% static "css/city.css" %}">
{% endblock %}

{% block content %}

<div id="offline-nav">
    <h4>线下体验店</h4>
    <div>
        <a href="#">首页</a>
        <a>/</a>
        <a>全部门店</a>
    </div>
</div>

<div id="offline-all">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">最新门店</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">全部门店</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">优惠政策</a>
        </li>
    </ul>
</div>


<div id="offline-allStores">
    <div id="ui_content">
        <span>地址:</span><span id="city" style="color:#d7d7d7;padding-left:5px;">省份／直辖市／行政区</span>
    </div>
    <div id="popCity" style="display: none;" class="_citys"><span title="关闭" id="cColse">×</span><ul id="_citysheng" class="_citys0"><li class="citySel" id="sheng">省份</li><li id="shi">城市</li><li id="xian">区县</li></ul><div id="_citys0" class="_citys1"></div><div style="display:none" id="_citys1" class="_citys1"></div><div style="display:none" id="_citys2" class="_citys1"></div></div>
    <script type="text/javascript">
        $("#city").click(function (e) {
            var ele = document.getElementById("popCity");
            ele.style.display = 'block';
            SelCity(this,e);
            console.log(this);
        });
        $("#cColse").click(function (e) {
            var ele = document.getElementById("popCity");
            ele.style.display = 'none';
            console.log(this);
        });
    </script>
<img src="{% static "img/全部门店.png" %}" id="allStoresImg">
</div>

{% endblock %}
