{% extends "base.html" %}
{% load staticfiles %}
{% block customeCSSContent %}
<link rel="stylesheet" href="{% static "css/offlineStore.css" %}">
{% endblock %}

{% block content %}

<div id="offline-nav">
    <h4>线下体验店</h4>
    <div>
        <a href="#">首页</a>
        <a>/</a>
        <a>全部门店</a>
    </div>
</div>

<div id="offline-all">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">最新门店</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">全部门店</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">优惠政策</a>
        </li>
    </ul>
</div>


<div id="offline-allStores">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            省份／直辖市／行政区
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div>
        <table cellpadding="10px">
            <tr>
                <td>
                    <div>
                        <div>
                            <img src="{% static "image/offlineStore/store1.png" %}"/>
                        </div>
                        <div class="allstore margin_top">
                            <div>
                                <h5 class="phone">厦门市闽南古镇赛车竞速管</h5>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/address.png" %}" />
                                </div>
                                <div>
                                    厦门市湖里区闽南古镇节庆广场102-103号
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/clock.png" %}" />
                                </div>
                                <div>
                                    <div class="addressdetails">
                                        <div>周一至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                        <div class="secondTime2">周四至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/phone.png" %}" />
                                </div>
                                <div class="phone">
                                    0592-9876364
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img src="{% static "image/offlineStore/store2.png" %}" class="allstoreImg" />
                        </div>
                        <div class="allstore margin_top">
                            <div>
                                <h5 class="phone">厦门市闽南古镇赛车竞速管</h5>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/address.png" %}" />
                                </div>
                                <div>
                                    厦门市湖里区闽南古镇节庆广场102-103号
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/clock.png" %}" />
                                </div>
                                <div>
                                    <div class="addressdetails">
                                        <div>周一至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                        <div class="secondTime2">周四至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/phone.png" %}" />
                                </div>
                                <div class="phone">
                                    0592-9876364
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div>
                            <img src="{% static "image/offlineStore/store1.png" %}" />
                        </div>
                        <div class="allstore margin_top">
                            <div>
                                <h5 class="phone">厦门市闽南古镇赛车竞速管</h5>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/address.png" %}" />
                                </div>
                                <div>
                                    厦门市湖里区闽南古镇节庆广场102-103号
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/clock.png" %}" />
                                </div>
                                <div>
                                    <div class="addressdetails">
                                        <div>周一至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                        <div class="secondTime2">周四至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/phone.png" %}" />
                                </div>
                                <div class="phone">
                                    0592-9876364
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <img src="{% static "image/offlineStore/store2.png" %}" class="allstoreImg" />
                        </div>
                        <div class="allstore margin_top">
                            <div>
                                <h5 class="phone">厦门市闽南古镇赛车竞速管</h5>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/address.png" %}" />
                                </div>
                                <div>
                                    厦门市湖里区闽南古镇节庆广场102-103号
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/clock.png" %}" />
                                </div>
                                <div>
                                    <div class="addressdetails">
                                        <div>周一至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                        <div class="secondTime2">周四至周日：&nbsp;&nbsp;&nbsp;&nbsp;10:00-22:00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="address">
                                <div class="addressicon">
                                    <img src="{% static "img/phone.png" %}" />
                                </div>
                                <div class="phone">
                                    0592-9876364
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
