{% extends "accounts/base.html" %}
{% load staticfiles %}
{% block content %}
<form method="post" action="{% url 'accounts:user_login' %}">
        {% csrf_token %}
        <div class="userName">
            <input id="userName" name="username" type="text" placeholder="手机号/邮箱/用户名*" />
        </div>
        <div class="passWord">
            <input id="passWord" name="password" type="password" placeholder="密码*" />
        </div>
        <div class="login">
            <input id="loginBtn" type="submit" value="登录" class="btn btn-default">
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="register">
            <a href="{% url 'accounts:register' %}">
                    <input id="register" type="button" value="注册" />
            </a>
            <p>
                <a href="{% url 'password_reset' %}">Lost password?</a>
            </p>
        </div>

    </form>
{% endblock %}